Repository openfoodfacts/open-prices, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, GDPR imports, Proofs, DB migrations, Users, Products, Prices

Add to serialized fields. Add tests
  open_prices/api/users/tests.py
  open_prices/api/users/views.py
  open_prices/users/admin.py
  open_prices/users/models.py
Labels: none

feat(users): New User.proof_count field (#442)
  open_prices/api/users/tests.py
  open_prices/api/users/views.py
  open_prices/users/admin.py
  open_prices/users/migrations/0004_user_proof_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Proofs, Users

Deploying to gh-pages from @ openfoodfacts/open-prices@2cb5fb123f4053261708ea177313f18c3ca43989 🚀
  sitemap.xml.gz
Labels: none

chore(main): release 1.37.0
  CHANGELOG.md
Labels: none

chore(main): release 1.37.0 (#439)
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@907beb9cb1599ee71be137759d402ce7e5830bb2 🚀
  sitemap.xml.gz
Labels: none

fix: fix babel currency list order
  open_prices/common/constants.py
  open_prices/prices/migrations/0002_alter_price_currency.py
  open_prices/proofs/migrations/0002_alter_proof_currency.py
Labels: Proofs

fix(Django): fix babel currency list order (#447)
  open_prices/common/constants.py
  open_prices/prices/migrations/0002_alter_price_currency.py
  open_prices/proofs/migrations/0002_alter_proof_currency.py
Labels: Proofs

Deploying to gh-pages from @ openfoodfacts/open-prices@4da6da2260dc3e7fb207738156743aafdc280606 🚀
  sitemap.xml.gz
Labels: none

feat(prices): add API filter by labels_tags & origins_tags
  open_prices/api/prices/filters.py
  open_prices/api/prices/tests.py
  open_prices/api/products/tests.py
Labels: none

Add extra test
  open_prices/api/prices/tests.py
Labels: none

feat(prices): add API filter by labels_tags & origins_tags (#449)
  open_prices/api/prices/filters.py
  open_prices/api/prices/tests.py
  open_prices/api/products/tests.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@dab02ae2d1b402bd03d3482788958e74337a1eb3 🚀
  sitemap.xml.gz
Labels: none

fix(Django): fix daily import script (avoid unique_scans_n null). ref #376
  open_prices/common/openfoodfacts.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@0656431c6e1ac38c31ab83944edd4631609e07b3 🚀
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@ac84681a850f421874f6d45c3a2f41a108d75a5f 🚀
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@549f059f62d57a4fd2d547cdfbddafe871124cd6 🚀
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@99112e5bb132ef9f57c93bde44e95def42af00a1 🚀
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@0d4203885802a53cb95d219819efa8a769097bce 🚀
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@86b472942e47aef47fa6e8aede69cef247019e3f 🚀
  sitemap.xml.gz
Labels: none

fix(Django): fix daily import script (seperate bulk_create & bulk_update). ref #376
  open_prices/common/openfoodfacts.py
Labels: none

chore(main): release 1.38.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@294261fecc828c5a9032c7fb0b979b05f2403707 🚀
  sitemap.xml.gz
Labels: none

chore(main): release 1.38.0 (#448)
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@90c146422aab16d81ce3ff47971bea3a5c4554d4 🚀
  sitemap.xml.gz
Labels: none

fix(Django): fix daily import script (add source in updated fields). ref #376
  open_prices/common/openfoodfacts.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@fe569d7a778da99ebe3fe81ad7b7ddf5bfdb9f09 🚀
  sitemap.xml.gz
Labels: none

Prices: add queryset to filter on non-discounted prices
  open_prices/prices/models.py
  open_prices/prices/tests.py
Labels: none

Prices: add querysets to calculate min, max, avg
  open_prices/prices/models.py
  open_prices/prices/tests.py
Labels: none

Prices: add calculate_stats queryset
  open_prices/prices/models.py
  open_prices/prices/tests.py
Labels: none

feat(prices): new querysets to calculate min, max & average (#452)
  open_prices/prices/models.py
  open_prices/prices/tests.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@ab9ed15b0ddc7675ed4142edf1726595ecbd5bdd 🚀
  sitemap.xml.gz
Labels: none

Products: add price stats properties
  open_prices/products/models.py
  open_prices/products/tests.py
Labels: none

Rename
  open_prices/products/models.py
  open_prices/products/tests.py
Labels: none

feat(products): new properties to calculate price min, max & average (#453)
  open_prices/products/models.py
  open_prices/products/tests.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@f6627104125e13b879f95c91169fcf7e2bd9d7b1 🚀
  sitemap.xml.gz
Labels: none

feat(prices): new stats endpoint
  open_prices/api/prices/serializers.py
  open_prices/api/prices/tests.py
  open_prices/api/prices/views.py
  open_prices/api/views.py
Labels: none

feat(prices): new stats endpoint (#454)
  open_prices/api/prices/serializers.py
  open_prices/api/prices/tests.py
  open_prices/api/prices/views.py
  open_prices/api/views.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@540febaf3dccdb8ade02b16f9c0ab0d28477ef89 🚀
  sitemap.xml.gz
Labels: none

refactor: rename dotenv
  .env.examples
  .gitignore
Labels: none

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

GDPR imports:
- changed-files:
  - any-glob-to-any-file: '**/*gdpr*'

Proofs:
- changed-files:
  - any-glob-to-any-file: '**/*proof*'

DB migrations:
- changed-files:
  - any-glob-to-any-file: '**/*migrations*'

Users:
- changed-files:
  - any-glob-to-any-file: '**/*user*'

Products:
- changed-files:
  - any-glob-to-any-file: '**/*products*'

Prices:
- changed-files:
  - any-glob-to-any-file: '**/*prices*'
