Repository openfoodfacts/open-prices, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, GDPR imports, Proofs, DB migrations, Users, Products, Prices

feat(Django): add model init migrations (#413)
  open_prices/locations/migrations/0001_initial.py
  open_prices/locations/migrations/__init__.py
  open_prices/prices/migrations/0001_initial.py
  open_prices/prices/migrations/__init__.py
  open_prices/products/migrations/0001_initial.py
  open_prices/products/migrations/__init__.py
  open_prices/proofs/migrations/0001_initial.py
  open_prices/proofs/migrations/__init__.py
  open_prices/users/migrations/0001_initial.py
  open_prices/users/migrations/__init__.py
Labels: none

chore(main): release 1.36.0
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@8aabad60e95bd8ca51d16b1bb78310294d60eee8 🚀
  sitemap.xml.gz
Labels: none

chore(main): release 1.36.0 (#429)
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@76bec4d8db63fc5eb1f6bc36ef09e2013a053756 🚀
  sitemap.xml.gz
Labels: none

rewording
  INSTALL.md
Labels: none

docs(Django): Updated project setup instruction (#432)
  INSTALL.md
  README.md
  docs/README.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@e070dd070ec83b6ea78c7c44457275be82930cfe 🚀
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@d5fa2b8c52c7a0e081846e2b907246421a743f67 🚀
  sitemap.xml.gz
Labels: none

ci: fix pre-commit. ref #425
  .github/workflows/github-projects.yml
Labels: GitHub Actions

Deploying to gh-pages from @ openfoodfacts/open-prices@211beb24821a164c4446c492334cb3b8a5e5533f 🚀
  sitemap.xml.gz
Labels: none

docs(Django): Update contributing.md. ref #431
  CONTRIBUTING.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@c2bfb1d82ad1b7464f2eb7c3ffadf0839ba28e6c 🚀
  sitemap.xml.gz
Labels: none

refactor(proofs): simple update_location() method
  open_prices/prices/models.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: none

refactor(proofs): simple update_location() method (#437)
  open_prices/prices/models.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: none

chore(main): release 1.36.1
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@d54ded6feee537aba8be3a97e39f42f53d92f4a2 🚀
  sitemap.xml.gz
Labels: none

chore(main): release 1.36.1 (#438)
  CHANGELOG.md
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@ed090391bab4e0f7a7f7613e9d3207d2e2e06522 🚀
  sitemap.xml.gz
Labels: none

Hardcode Picard prefix. Loop on multiple queries to enlarge scope
  scripts/gdpr/create_prices_from_gdpr_csv.py
Labels: GDPR imports, Prices

Fetch product full code from Search API
  scripts/gdpr/create_prices_from_gdpr_csv.py
Labels: GDPR imports, Prices

Add Picard in field mapping config
  scripts/gdpr/gdpr_field_mapping.csv
Labels: GDPR imports

Add user prompt. Fix csv merging (exlude list)
  scripts/gdpr/README.md
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/gdpr/merge_two_csv_files.py
Labels: GDPR imports, Prices

Improve merging script
  scripts/gdpr/README.md
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/gdpr/merge_two_csv_files.py
Labels: GDPR imports, Prices

Move picard code to utils
  scripts/gdpr/README.md
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/gdpr/utils.py
Labels: GDPR imports, Prices

feat(GDPR): improve script to manage Picard (#430)
  scripts/gdpr/README.md
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/gdpr/gdpr_field_mapping.csv
  scripts/gdpr/merge_two_csv_files.py
  scripts/gdpr/utils.py
Labels: GDPR imports, Prices

Deploying to gh-pages from @ openfoodfacts/open-prices@955ceccdce65b147189c9d1421d02fd0bf6577e1 🚀
  sitemap.xml.gz
Labels: none

fix(GDPR): fix Picard import script after testing in prod. ref #430
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/gdpr/utils.py
Labels: GDPR imports, Prices

refactor(GDPR): add proof images. ref #213
  scripts/gdpr/proofs/auchan.png
  scripts/gdpr/proofs/carrefour.png
  scripts/gdpr/proofs/eleclerc.png
  scripts/gdpr/proofs/intermarche.png
  scripts/gdpr/proofs/picard.png
Labels: none

Deploying to gh-pages from @ openfoodfacts/open-prices@db749f92fc3f54cb108892e3bafe56482beed91b 🚀
  sitemap.xml.gz
Labels: none

New User.location_count field
  open_prices/users/migrations/0002_user_location_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users

Add to serialized fields
  open_prices/users/admin.py
  open_prices/users/factories.py
  open_prices/users/models.py
Labels: none

feat(users): New User.location_count field (#440)
  open_prices/users/admin.py
  open_prices/users/factories.py
  open_prices/users/migrations/0002_user_location_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users

Deploying to gh-pages from @ openfoodfacts/open-prices@ba02e6bfc8bf37b6e2190d24062ba8a17b704346 🚀
  sitemap.xml.gz
Labels: none

New User.product_count field
  open_prices/api/users/views.py
  open_prices/users/migrations/0003_user_product_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users

Add to serialized fields
  open_prices/api/users/views.py
  open_prices/users/models.py
Labels: none

Add tests on API
  open_prices/api/users/tests.py
  open_prices/users/factories.py
Labels: none

feat(users): New User.product_count field (#441)
  open_prices/api/users/tests.py
  open_prices/api/users/views.py
  open_prices/users/factories.py
  open_prices/users/migrations/0003_user_product_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users

Deploying to gh-pages from @ openfoodfacts/open-prices@c440ced63d86fe3862091b30ca255f233e4b1f8c 🚀
  sitemap.xml.gz
Labels: none

New User.proof_count field
  open_prices/users/migrations/0004_user_proof_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Proofs, Users

.github/labeler.yml:

# Add labels to any any pull request with changes to the specified paths

# Pull requests that update GitHub Actions code. If you navigate to the folder, you will have a README of what it does
GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

GDPR imports:
- changed-files:
  - any-glob-to-any-file: '**/*gdpr*'

Proofs:
- changed-files:
  - any-glob-to-any-file: '**/*proof*'

DB migrations:
- changed-files:
  - any-glob-to-any-file: '**/*migrations*'

Users:
- changed-files:
  - any-glob-to-any-file: '**/*user*'

Products:
- changed-files:
  - any-glob-to-any-file: '**/*products*'

Prices:
- changed-files:
  - any-glob-to-any-file: '**/*prices*'
