Repository openfoodfacts/open-prices, pull requests merged in 2024-09, with the labels that each got.

#411 chore: try to fix test CI
  .env
  .github/workflows/quality-check.yml
  Makefile
  docker/dev.yml
  open_prices/api/proofs/tests.py
  pyproject.toml
Labels: GitHub Actions

#415 chore: fix static configuration
  .github/workflows/container-deploy.yml
  Makefile
  docker-compose.yml
  nginx.conf
Labels: GitHub Actions

#436 ci: Autolabel some PRs
  .github/labeler.yml
Labels: GitHub Actions

#468 feat(locations): New Location.proof_count field
  open_prices/locations/admin.py
  open_prices/locations/factories.py
  open_prices/locations/migrations/0002_location_proof_count.py
  open_prices/locations/models.py
  open_prices/locations/tests.py
Labels: Proofs, 📍 Location, :bar_chart: Stats

#471 feat(locations): New Location.user_count field
  open_prices/locations/admin.py
  open_prices/locations/factories.py
  open_prices/locations/migrations/0004_location_user_count.py
  open_prices/locations/models.py
  open_prices/locations/tests.py
Labels: 📍 Location, :bar_chart: Stats
