Repository openfoodfacts/open-prices, pull requests merged in 2024-12, with the labels that each got.

#592 feat(Location): script to fill in OSM brand & version
  open_prices/common/openstreetmap.py
  open_prices/locations/management/commands/set_location_osm_brand_and_version.py
Labels: 📍 Location

#596 chore: enable ML predictions on prod & staging
  .github/workflows/container-deploy.yml
Labels: GitHub Actions

#598 chore: remove deprecated command for ssh-action
  .github/workflows/container-deploy.yml
Labels: GitHub Actions

#574 feat(Shop import): new script to upload prices from a shop csv
  scripts/.gitkeep
  scripts/__init__.py
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/shop_import/README.md
  scripts/shop_import/create_prices_from_csv.py
  scripts/utils.py
Labels: GDPR imports, Prices

#621 chore: enable fetching product updates from Redis
  .env
  .github/workflows/container-deploy.yml
  .github/workflows/quality-check.yml
  Makefile
  docker-compose.yml
  docker/prod.yml
Labels: GitHub Actions

#622 fix: create a product if needed after a redis update event
  .github/workflows/container-deploy.yml
  open_prices/products/tasks.py
  open_prices/products/tests.py
Labels: GitHub Actions

#628 feat: add `price_tag` table and routes
  open_prices/api/proofs/filters.py
  open_prices/api/proofs/serializers.py
  open_prices/api/proofs/tests.py
  open_prices/api/proofs/views.py
  open_prices/api/urls.py
  open_prices/common/constants.py
  open_prices/proofs/factories.py
  open_prices/proofs/migrations/0007_pricetag.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: Proofs, price tag

#630 feat: save Gemini prediction in `price_tag_predictions` table
  open_prices/api/proofs/views.py
  open_prices/common/gemini.py
  open_prices/proofs/constants.py
  open_prices/proofs/migrations/0008_alter_proofprediction_type_pricetagprediction.py
  open_prices/proofs/ml.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: Proofs, machine learning, price tag

#650 feat(Price tags): script to match historical PriceTag with their prices
  open_prices/proofs/management/commands/match_price_tags_with_existing_prices.py
Labels: Prices, price tag

#652 refactor(Stats): new PriceTag stats
  open_prices/common/tasks.py
  open_prices/stats/migrations/0004_totalstats_price_tag_count_and_more.py
  open_prices/stats/models.py
  open_prices/stats/tests.py
Labels: :bar_chart: Stats, price tag

#656 feat(Price tags): new Proof.ready_for_price_tag_validation field to help filter the frontend UI
  open_prices/api/proofs/filters.py
  open_prices/proofs/constants.py
  open_prices/proofs/migrations/0009_proof_ready_for_price_tag_validation.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: Proofs, price tag

#660 refactor(Price tags): improve matching script: manage Carrefour barcodes
  open_prices/proofs/management/commands/match_price_tags_with_existing_prices.py
  open_prices/proofs/utils.py
Labels: Prices

#664 refactor(Price tags): matching script: try to match on price only
  open_prices/proofs/management/commands/match_price_tags_with_existing_prices.py
  open_prices/proofs/utils.py
Labels: Prices
