Repository openfoodfacts/open-prices, pull requests merged in 2024-11, with the labels that each got.

#543 feat: run OCR extraction on every new image
  .env
  .github/workflows/container-deploy.yml
  config/settings.py
  docker-compose.yml
  open_prices/api/proofs/views.py
  open_prices/proofs/tests.py
  open_prices/proofs/utils.py
Labels: GitHub Actions, OCR

#557 feat(proofs): New endpoint to extract price data from images (with Gemini)
  .github/workflows/container-deploy.yml
  config/settings.py
  docker-compose.yml
  open_prices/api/proofs/serializers.py
  open_prices/api/proofs/views.py
  open_prices/common/gemini.py
  poetry.lock
  pyproject.toml
Labels: GitHub Actions, GenAI

#564 chore: add CORS headers to data
  nginx.conf
Labels: CORS

#581 fix: fix CSRF configuration
  .env
  .github/workflows/container-deploy.yml
  .gitignore
  config/settings.py
  docker-compose.yml
Labels: GitHub Actions

#582 chore: increase the number of gunicorn workers in production
  .env
  .github/workflows/container-deploy.yml
  docker-compose.yml
Labels: GitHub Actions
