Repository openfoodfacts/open-prices, pull requests merged in 2025-02, with the labels that each got.

#693 feat(Proofs): new prediction_count field (automatically incremented)
  open_prices/proofs/migrations/0010_proof_prediction_count.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: Proofs

#698 feat(Users): Stats: new location country count & price currency count
  open_prices/common/tasks.py
  open_prices/users/migrations/0005_user_location_type_osm_country_count_and_price_currency_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users

#700 feat(Moderation): script to remove Products with long barcodes
  open_prices/common/tasks.py
  open_prices/moderation/__init__.py
  open_prices/moderation/rules.py
  open_prices/moderation/tests.py
  open_prices/prices/constants.py
  open_prices/proofs/constants.py
  open_prices/proofs/models.py
Labels: 🧽 Data quality, Moderation

#702 refactor(Price tags): add a new status 'truncated'
  open_prices/proofs/constants.py
  open_prices/proofs/migrations/0012_alter_pricetag_status.py
Labels: price tag

#705 refactor(Product sync): add settings to opt-in to OxF daily syncs
  .github/workflows/container-deploy.yml
  config/settings.py
  docker-compose.yml
  open_prices/common/tasks.py
Labels: GitHub Actions, Product data sync

#707 refactor(Product sync): disable OFF daily sync (now that we have Redis live updates)
  .github/workflows/container-deploy.yml
Labels: GitHub Actions

#715 feat(Proofs): ML: receipt content extraction
  open_prices/proofs/ml.py
  open_prices/proofs/tests.py
Labels: Receipts

#724 feat(Proofs): new receipt_online_delivery_costs field
  open_prices/proofs/migrations/0013_proof_receipt_online_delivery_costs.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: Proofs

#725 feat(Proofs): Stats: new community & consumption counts
  open_prices/stats/migrations/0009_totalstats_proof_type_group_community_count_and_type_group_consumption_count.py
  open_prices/stats/models.py
  open_prices/stats/tests.py
Labels: Proofs

#729 feat(Users): new price counts per community & consumption type groups
  open_prices/stats/tests.py
  open_prices/users/migrations/0006_user_price_type_group_community_count_and_price_type_group_consumption_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users

#730 feat(Users): new proof counts per community & consumption type groups
  open_prices/users/migrations/0007_user_proof_type_group_community_count_and_proof_type_group_consumption_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Proofs, Users
