Repository openfoodfacts/open-prices, pull requests merged in 2025-09, with the labels that each got.

#973 fix(Prices): allow to create prices with 3 decimals
  config/settings.py
  open_prices/api/prices/tests.py
  open_prices/prices/migrations/0011_alter_price_price_alter_price_price_without_discount.py
  open_prices/prices/models.py
  open_prices/prices/tests.py
  open_prices/proofs/migrations/0023_alter_proof_receipt_online_delivery_costs_and_more.py
  open_prices/proofs/models.py
Labels: Proofs

#981 chore: update the remove_duplicate_proofs.py script
  open_prices/proofs/management/commands/remove_duplicate_proofs.py
Labels: Proofs

#984 feat(Proofs): allow to filter by `image_md5_hash`
  open_prices/api/proofs/filters.py
  open_prices/api/proofs/tests.py
Labels: duplicate

#995 refactor(Challenges): new location price count rankings (location id, city & country)
  open_prices/challenges/models.py
  open_prices/challenges/tests.py
Labels: Challenges

#1003 refactor(Challenges): new product price count ranking
  open_prices/challenges/models.py
  open_prices/challenges/tests.py
Labels: Challenges

#1007 refactor(Challenges): improve set_tags methods. new reset_tags methods
  open_prices/challenges/models.py
  open_prices/challenges/tests.py
Labels: Challenges
