Repository openfoodfacts/open-prices, pull requests merged in 2025-03, with the labels that each got.

#736 feat(Stats): new Price & Proof counts per source
  open_prices/common/constants.py
  open_prices/prices/constants.py
  open_prices/prices/models.py
  open_prices/prices/tests.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
  open_prices/stats/migrations/0011_totalstats_price_count_per_source.py
  open_prices/stats/migrations/0012_totalstats_proof_count_per_source.py
  open_prices/stats/models.py
  open_prices/stats/tests.py
Labels: :bar_chart: Stats

#731 refactor(GDPR): Improve script (fixes for Carrefour, Auchan)
  scripts/gdpr/README.md
  scripts/gdpr/create_prices_from_gdpr_csv.py
  scripts/gdpr/gdpr_field_mapping.csv
Labels: GDPR imports, Prices

#740 feat(Stats): new price_location_country_count field
  open_prices/api/locations/tests.py
  open_prices/api/prices/tests.py
  open_prices/api/proofs/tests.py
  open_prices/locations/tests.py
  open_prices/proofs/tests.py
  open_prices/stats/migrations/0014_totalstats_price_location_country_count.py
  open_prices/stats/models.py
  open_prices/stats/tests.py
Labels: :bar_chart: Stats

#744 feat(Users): new price count on owned (and not owned) proofs
  open_prices/users/migrations/0008_user_price_in_proof_owned_count_and_price_in_proof_not_owned_count_and_price_not_owned_on_proof_owned_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Proofs, :bar_chart: Stats, Users

#747 feat(Prices): new owner_comment field
  open_prices/prices/migrations/0008_price_owner_comment.py
  open_prices/prices/models.py
Labels: Prices

#748 feat(Proofs): new owner_comment field
  open_prices/proofs/migrations/0014_proof_owner_comment.py
  open_prices/proofs/models.py
Labels: Proofs

#750 feat(Proofs): new owner_consumption field
  open_prices/proofs/migrations/0015_proof_owner_consumption.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
Labels: Proofs, Personal data

#761 feat(Moderation): script to remove Products (and their prices) with invalid barcodes
  open_prices/common/tasks.py
  open_prices/moderation/rules.py
  open_prices/moderation/tests.py
Labels: 🧽 Data quality, Moderation

#763 refactor(PriceTags): new FK to link to the proof_prediction
  open_prices/api/proofs/serializers.py
  open_prices/api/proofs/tests.py
  open_prices/proofs/constants.py
  open_prices/proofs/factories.py
  open_prices/proofs/migrations/0016_pricetag_proof_prediction_remove_pricetag_model_version.py
  open_prices/proofs/ml.py
  open_prices/proofs/models.py
Labels: Proofs

#766 refactor(Proofs): API: allow multiple filters on `type`
  open_prices/api/proofs/filters.py
  open_prices/api/proofs/tests.py
Labels: Proofs, API

#769 refactor(Auth): Drop invalid json parser from post api
  open_prices/api/auth/views.py
Labels: API, OpenAPI

#771 feat(Users): new price count per type (product or category)
  open_prices/prices/models.py
  open_prices/prices/tests.py
  open_prices/users/migrations/0010_user_price_type_product_and_category_count.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: :bar_chart: Stats, Users

#774 refactor(Proofs): rename type_group to kind (community & consumption)
  open_prices/common/constants.py
  open_prices/proofs/constants.py
  open_prices/proofs/models.py
  open_prices/proofs/tests.py
  open_prices/stats/migrations/0015_rename_proof_type_group_community_count_totalstats_proof_kind_community_count_and_more.py
  open_prices/stats/models.py
  open_prices/stats/tests.py
  open_prices/users/migrations/0011_rename_proof_type_group_community_count_user_proof_kind_community_count_and_more.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Proofs, Users

#775 refactor(Prices): rename type_group to kind (community & consumption)
  open_prices/prices/models.py
  open_prices/prices/tests.py
  open_prices/stats/migrations/0016_rename_price_type_group_community_count_totalstats_price_kind_community_count_and_more.py
  open_prices/stats/models.py
  open_prices/stats/tests.py
  open_prices/users/migrations/0012_rename_price_type_group_community_count_user_price_kind_community_count_and_more.py
  open_prices/users/models.py
  open_prices/users/tests.py
Labels: Users, Personal data

#776 feat(Proofs): API: new filter on `kind`
  open_prices/api/proofs/filters.py
  open_prices/api/proofs/tests.py
  open_prices/common/constants.py
Labels: Personal data

#777 feat(Prices): API: new filter on `kind`
  open_prices/api/prices/filters.py
  open_prices/api/prices/tests.py
Labels: API, Personal data

#779 Revert "build(deps): bump GoogleCloudPlatform/release-please-action from 3.7.13 to 4.2.0"
  .github/workflows/release-please.yml
Labels: GitHub Actions

#778 feat(ProofMl): Added ReceiptItem model and API
  open_prices/api/proofs/filters.py
  open_prices/api/proofs/serializers.py
  open_prices/api/proofs/views.py
  open_prices/api/urls.py
  open_prices/proofs/constants.py
  open_prices/proofs/factories.py
  open_prices/proofs/migrations/0017_receiptitem.py
  open_prices/proofs/ml.py
  open_prices/proofs/models.py
Labels: Receipts

#786 refactor(Price tags): matching script: fix script for category_tag. add tests
  open_prices/proofs/management/commands/match_price_tags_with_existing_prices.py
  open_prices/proofs/tests.py
  open_prices/proofs/utils.py
Labels: Prices

#788 feat(Receipt Item): script to match historical ReceiptItem with their prices
  open_prices/proofs/management/commands/match_price_tags_with_existing_prices.py
  open_prices/proofs/management/commands/match_receipt_items_with_existing_prices.py
  open_prices/proofs/tests.py
  open_prices/proofs/utils.py
Labels: Prices
